swagger: '2.0'
info:
  description: >-
    The Search API is optimized to help you find the specific item you're
    looking for (e.g., a specific user, a specific file in a repository, etc.).
    Think of it the way you think of performing a search on Google. It's
    designed to help you find the one result you're looking for (or maybe the
    few results you're looking for). Just like searching on Google, you
    sometimes want to see a few pages of search results so that you can find the
    item that best meets your needs. To satisfy that need, the GitHub Search API
    provides up to 1,000 results for each search.
  version: 3.0.0
  title: GitHub Search
  contact:
    email: vmishra@grepruby.com
host: api.github.com
basePath: /
tags:
  - name: Search
    description: >-
      Find repositories via various criteria. This method returns up to 100
      results per page.
    externalDocs:
      description: Find out more
      url: 'https://developer.github.com/v3/search/'
schemes:
  - https
paths:
  /search/repositories:
    get:
      tags:
        - Search
      summary: Find repositories via various criteria.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: q
          in: query
          description: 'The search keywords, as well as any qualifiers.'
          required: false
          type: string
          items:
            type: string
            enum:
              - author
              - committer
              - author-name
              - committer-name
              - author-email
        - name: sort
          in: query
          description: >-
            The sort field. One of stars, forks, or updated. Default: results
            are sorted by best match.
          required: false
          type: string
          items:
            type: string
            enum:
              - starts
              - forks
              - updated
        - name: order
          in: query
          description: 'The sort order if sort parameter is provided. One of asc or desc. '
          required: false
          type: string
          items:
            type: string
            enum:
              - asc
              - dsc
        - name: page
          in: query
          description: Page number of the search result.
          type: integer
          required: false
        - name: per_page
          in: query
          description: Number of results per page.
          default: 100
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResult'
definitions:
  SearchResult:
    type: object
    properties:
      total_count:
        type: integer
        description: It is a integer value.
        example: 40
      incomplete_results:
        type: boolean
        description: >-
          It is a boolean type of value. true if incomplete results are possible
          otherwise false.
        example: false
      items:
        type: array
        description: An array of properties.
        items:
          type: object
          example:
            $ref: '#/definitions/Item'
  Item:
    type: object
    properties:
      id:
        type: integer
        example: 16339878
      name:
        type: string
        example: vinay
      full_name:
        type: string
        example: moorthi22/vinay
      owner:
        type: object
        properties:
          login:
            type: string
            example: moorthi22
          id:
            type: string
            example: '6533066'
          avatar_url:
            type: string
            example: 'https://avatars0.githubusercontent.com/u/6533066?v=3'
          gravatar_id:
            type: string
            example: ''
          url:
            type: string
            example: 'https://api.github.com/users/moorthi22'
          html_url:
            type: string
            example: 'https://github.com/moorthi22'
          followers_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/followers'
          following_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/following{/other_user}'
          gists_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/gists{/gist_id}'
          starred_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/starred{/owner}{/repo}'
          subscriptions_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/subscriptions'
          organizations_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/orgs'
          repos_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/repos'
          events_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/events{/privacy}'
          received_events_url:
            type: string
            example: 'https://api.github.com/users/moorthi22/received_events'
          type:
            type: string
            example: user
          site_admin:
            type: boolean
            example: false
      private:
        type: boolean
        example: false
      html_url:
        type: string
        example: 'https://github.com/moorthi22/vinay'
      description:
        type: string
        example: null
      fork:
        type: boolean
        example: false
      url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay'
      forks_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/forks'
      keys_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/keys{/key_id}'
      collaborators_url:
        type: string
        example: >-
          https://api.github.com/repos/moorthi22/vinay/collaborators{/collaborator}
      teams_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/teams'
      hooks_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/hooks'
      issue_events_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/issues/events{/number}'
      events_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/events'
      assignees_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/assignees{/user}'
      branches_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/branches{/branch}'
      tags_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/tags'
      blobs_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/git/blobs{/sha}'
      git_tags_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/git/tags{/sha}'
      git_refs_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/git/refs{/sha}'
      trees_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/git/trees{/sha}'
      statuses_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/statuses/{sha}'
      languages_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/languages'
      starazers_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/stargazers'
      contributors_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/contributors'
      subscribption_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/subscription'
      subscribers_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/subscribers'
      commits_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/commits{/sha}'
      comments_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/issues/comments{/number}'
      contents_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/contents/{+path}'
      compare_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/compare/{base}...{head}'
      merges_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/merges'
      archives_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/{archive_format}{/ref}'
      downloads_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/downloads'
      issues_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/issues{/number}'
      pulls_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/pulls{/number}'
      milestones_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/milestones{/number}'
      notifications_url:
        type: string
        example: >-
          https://api.github.com/repos/moorthi22/vinay/notifications{?since,all,participating}
      labels_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/labels{/name}'
      releases_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/releases{/id}'
      deployments_url:
        type: string
        example: 'https://api.github.com/repos/moorthi22/vinay/deployments'
      created_at:
        type: string
        example: '2014-01-29T09:02:01Z'
      updated_at:
        type: string
        example: '2014-01-29T09:02:01Z'
      pushed_at:
        type: string
        example: '2014-01-29T09:02:01Z'
      git_url:
        type: string
        example: 'git://github.com/moorthi22/vinay.git'
      ssh_url:
        type: string
        example: 'git@github.com:moorthi22/vinay.git'
      clone_url:
        type: string
        example: 'https://github.com/moorthi22/vinay.git'
      svn_url:
        type: string
        example: 'https://github.com/moorthi22/vinay'
      homepage:
        type: string
        example: null
      size:
        type: integer
        example: 0
      stargazers_count:
        type: integer
        example: 0
      watchers_count:
        type: integer
        example: 0
      language:
        type: string
        example: null
      has_issues:
        type: boolean
        example: true
      has_projects:
        type: boolean
        example: true
      has_downloads:
        type: boolean
        example: true
      has_wiki:
        type: boolean
        example: true
      has_pages:
        type: boolean
        example: false
      forks_count:
        type: integer
        example: 0
      mirror_url:
        type: string
        example: null
      open_issues_count:
        type: integer
        example: 0
      forks:
        type: integer
        example: 0
      open_issues:
        type: integer
        example: 0
      watchers:
        type: integer
        example: 0
      default_branch:
        type: string
        example: master
      score:
        type: integer
        example: ''
